<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.preschool.preschoolhome.kid.KidMapper">
    <select id="kidProfile">
        SELECT kid_nm as kidNm, iclass, gender, profile, birth
        , address, memo, emer_nm as emerNm, emer_nb as emerNb
        FROM t_kid
        WHERE ikid = #{ikid}
    </select>
    <select id="kidParent">
        SELECT a.iparent, a.uid, a.parent_nm as parentNm
        , a.phone_nb as phoneNb, a.irelation
        FROM t_parent a
        JOIN t_parent_kid b
        ON a.iparent = b.iparent
        WHERE b.ikid = #{ikid}
    </select>
    <select id="kidGrowth">
        SELECT a.height, a.weight, a.body_date as bodyDate, b.polite, b.activity
        , b.creativity, b.growth_date as growthDate, b.growth_memo as growthMemo
        FROM t_body a
        LEFT JOIN t_growth b
        ON a.quarterly = b.quarterly
        WHERE a.ikid = #{ikid}
    </select>

    <insert id="kidGrowthInsDetail">
        INSERT t_growth
        SET ikid = #{ikid}
        , growth_date = #{growthDate}
        , quarterly = #{growthQuarterly}
        <if test="polite > 0">
            , polite = #{polite}
        </if>
        <if test="activity > 0">
            , activity = #{activity}
        </if>
        <if test="creativity > 0">
            , creativity = #{creativity}
        </if>
        <if test="growthMemo != null">
            , growth_memo = #{growthMemo}
        </if>
    </insert>
    <insert id="kidBodyInsDetail">
        INSERT t_body
        SET ikid = #{ikid}
        , quarterly = #{bodyQuarterly}
        , body_date = #{bodyDate}
        <if test="height > 0">
            , height = #{height}
        </if>
        <if test="weight > 0">
            , weight = #{weight}
        </if>
    </insert>

    <update id="kidGrowthUpdDetail">
        UPDATE t_growth
        <set>
        <if test="polite > 0">
            polite = #{polite}
            , activity = 0
            , creativity = 0
        </if>
        <if test="activity > 0">
            polite = 0
            , activity = #{activity}
            , creativity = 0
        </if>
        <if test="creativity > 0">
            polite = 0
            , activity = 0
            , creativity = #{creativity}
        </if>
        <if test="growthMemo != null">
            , growth_memo = #{growthMemo}
        </if>
        </set>
        WHERE ikid = #{ikid}
        and growth_date = #{growthDate}
    </update>
    <update id="kidBodyUpdDetail">
        UPDATE t_body
        <set>
        <if test="height > 0">
            height = #{height}
        </if>
        <if test="weight > 0">
            , weight = #{weight}
        </if>
        </set>
        WHERE ikid = #{ikid}
        and body_date = #{bodyDate}
    </update>

    <insert id="kidSignup">
        <selectKey resultType="String" keyProperty="code" order="BEFORE">
            SELECT SUBSTR(MD5(RAND()),1,10) AS code
        </selectKey>
        INSERT t_kid
        SET kid_nm = #{kidNm}
        , birth = #{birth}
        , gender = #{gender}
        , iclass = #{iclass}
        , address = #{address}
        , profile = #{profile}
        , code = #{code}
        , emer_nm = #{emerNm}
        , emer_nb = #{emerNb}
        , memo = #{memo}
    </insert>

    <select id="selIkid">
        SELECT ikid
        FROM t_kid
        WHERE kid_nm = #{kidNm}
        AND code = #{code}
    </select>
    
    <update id="kidUpdProfile">
        UPDATE t_kid
        SET kid_nm = #{kidNm}
        , birth = #{birth}
        , gender = #{gender}
        , iclass = #{iclass}
        , address = #{address}
        , profile = #{profile}
        , emer_nm = #{emerNm}
        , emer_nb = #{emerNb}
        , memo = #{memo}
        WHERE ikid = #{ikid}
    </update>
    
    <select id="kidDetailEdit">
        SELECT kid_nm as kidNm, birth, gender, iclass, address
        , profile, emer_nm as emerNm, emer_nb as emerNb, memo
        FROM t_kid
        WHERE ikid = #{ikid}
    </select>
    
</mapper>