<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.preschool.preschoolhome.kid.KidMapper">
    <insert id="kidSignup">

        <selectKey resultType="String" keyProperty="code" order="BEFORE">
            SELECT SUBSTR(MD5(RAND()),1,10) AS code
        </selectKey>
        INSERT t_kid
        SET kidnm = #{kidNm},
        birth = #{birth},
        gender = #{gender},
        iclass = #{iclass},
        address = #{address},
        profile = #{profile},
        code = #{code},
        emernm = #{emernm},
        emernb = #{emernb},
        memo = #{memo}
    </insert>

    <select id="selIkid">
        SELECT ikid
        FROM t_kid
        WHERE kidnm = #{kidNm}
        AND code = #{code}
    </select>
    
    <update id="kidProfile">
        UPDATE t_kid
        SET kidnm = #{kidNm},
        birth = #{birth},
        gender = #{gender},
        iclass = #{iclass},
        address = #{address},
        profile = #{profile},
        code = #{code},
        emernm = #{emernm},
        emernb = #{emernb},
        memo = #{memo}
        WHERE ikid = #{ikid}
    </update>
    
    <select id="KidEdit">
        SELECT kidNm, birth, gender, iclass, address
        , profile, code, emernm, emernb, memo
        FROM t_kid
        WHERE ikid = #{ikid}

    </select>
    
</mapper>